html {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body, h3, p {
    margin: 0px;
}

body {
    background-color: #d6e2f0;
}

main {
    margin: 20vh 0px 40px 0px;
}

#qr-card {
    width: 300px;
    height: 480px;
    padding: 15px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 8px 16px 1px rgba(0,0,0,0.2);
    background-color: white;
} 

img {
    max-width: 100%;
    border-radius: 12px;
}

#qr-card h2 {
    color: #1f3251;
    margin: 20px 0px 20px 0px;
}

#qr-card p {
    color: #7b879d;
    margin: 20px 10px 20px 10px;
}

.attribution {
    font-size: 0.8rem;
    text-align: center;
}

.attribution a {
    color: #3E52A3;
}